<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LATIHAN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let dPOST of dataPOST">
      <img src="{{dPOST.avatar}}" alt="">
      <div style="margin-left: 10px;">
        {{dPOST.first_name}}
        {{dPOST.last_name}}
        <br>
        {{dPOST.email}}
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="next()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
