<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coba API pada PDF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item><ion-input type="text" [(ngModel)]="post.userId" placeholder="User ID"></ion-input></ion-item>
    <ion-item><ion-input type="text" [(ngModel)]="post.title" placeholder="Title Text"></ion-input></ion-item>
    <ion-item><ion-input type="text" [(ngModel)]="post.body" placeholder="Body Text"></ion-input></ion-item>
    <ion-button (click)="submit()">SIMPAN DATA</ion-button>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let dPOST of dataPOST">
      {{dPOST.title}}
    </ion-item>
  </ion-list>
</ion-content>
